.bg{
  background-image: url('../m1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.box {
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  z-index: 0;
}

.box::before {
  position: absolute;
  top: 0; 
  left: 0;
  height: 100%;
  width: 100%; 
  content: '';
  background-color: rgba(0, 255, 255, 0.3);
  backdrop-filter: blur(8px);
  border-radius: 7.1%;
  z-index: -1;
}

.login-box-responsive {
    width: 90%;
}

@media (min-width: 768px) {
    .login-box-responsive {
        width: 60%;
    }
}

@media (min-width: 992px) {
    .login-box-responsive {
        width: 75%;
    }
}

@media (min-width: 1200px) {
    .login-box-responsive {
        width: 65%;
    }
}